{% extends "base.html" %}

{% block head_js %}
{{ resources | safe }}
<script type="text/javascript">
    function plot(route, id) {
        fetch(route)
            .then(function(response) {
                return response.json();
            })
            .then(function(item) {
                let width = document.getElementById(id).getBoundingClientRect()["width"];
                if (width < 200) {
                    let refs = item["doc"]["roots"]["references"];
                    let legend = refs.find(x => x["type"] == "Legend");
                    legend["attributes"]["visible"] = false;
                    console.log("Removing legend because window is too small");
                }
                return Bokeh.embed.embed_item(item, id);
            })
    }
</script>
{% endblock %}

{% block hero_content %}
<h1 class="title">{{ plot.capitalize() }}</h1>

<div class="content">
    <figure class="image" id='{{ plot }}' style="margin-left: 0em;">
    </figure>
    <script>
        plot('/bokeh/{{ plot }}', '{{ plot }}')
</script>
</div>
{% endblock %}

{% block content %}
<div class="column is-4 is-offset-4">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}.
    </div>
    {% endif %}
    {% endwith %}
    <button class="button is-primary is-fullwidth" onclick="getElementById('add_data').classList.toggle('is-active')">Add data</button>
</div>
<div class="modal" id="add_data">
    <div class="modal-background" onclick="getElementById('add_data').classList.toggle('is-active')"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="title">Add new data</p>
            <button class="modal-close is-large" aria-label="close" onclick="getElementById('add_data').classList.toggle('is-active')"></button>
        </header>
        <form method="POST" action="/plots/{{ plot }}">
            <section class="modal-card-body">
                <div class="field">
                    <div class="control">
                        <input class="input" type="date" name="date" placeholder="Date">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input class="input" type="text" name="value" placeholder="Value" autofocus="">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <div class="select">
                            <select name="child" autofocus="">
                                {% for child in children %}
                                <option>{{ child.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="modal-card-foot">
                <div class="field is-grouped is-grouped-right">
                    <div class="control">
                        <button class="button is-block is-info is-fullwidth">Submit</button>
                    </div>
                    <div class="control">
                        <button type="reset" class="button is-block is-fullwidth" onclick="getElementById('add_data').classList.toggle('is-active')">Cancel</button>
                    </div>
                </div>
            </footer>
        </form>
    </div>

</div>

{% endblock %}